<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<title>Home page</title>
</head>
<body>
	<div class="container">
		<form th:action="@{|/savetask/${sourceText}|}" method="get" th:object="${task}">
			<div class="form-group" style="margin-top: 50px;">
				<div class="input-group">
					<input type="text" name="sourceText" th:value="${sourceText}"
						class="form-control" required>
					<button type="submit" class="btn btn-primary">Add task</button>
				</div>
			</div>
		</form>
		
		<table class="table table-hover" style="margin-top: 20px;">
			<thead>
				<tr>
					<th>Task</th>
					<th>Status</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task: ${taskList}">
					<td th:text="${task.task}" class="col-md-9"></td>
					<td th:text="${task.status}" class="col-md-2"></td>
					<td class="col-md-1">
						<a th:href="@{|/delete/${task.id}|}">
							<button type="button" class="btn btn-danger btn-sm">Delete</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>